:root {
  --textcolor: seashell;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  background-color: black;
  opacity: 0.9px;
  text-align: center;
  color: var(--textcolor);
  height: 100%;
}
html body {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 2.2rem;
}
html body header {
  display: flex;
  min-height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
}
html body header a img {
  height: 50px;
  padding-left: 10px;
}
html body header nav {
  flex: 1;
  text-align: right;
}
html body header nav a {
  padding: 0 1.6rem;
  color: seashell;
}
html body main {
  flex: 1;
}
html body main section#mission {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: none;
  background-size: cover;
  height: 700px;
}
html body main section#mission div.text {
  background-color: black;
  width: 100%;
}
html body main section#teaOfMonth {
  max-width: 1000px;
  margin: 0 auto;
}
html body main section#teaOfMonth div.cards {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
}
html body main section#teaOfMonth div.cards img {
  width: 300px;
  height: 200px;
  margin-bottom: 1rem;
}
html body main section#teaOfMonth div.cards h4 {
  margin: 0px;
}
html body main section#teaOfMonth div.cards:last-of-type {
  margin-bottom: 5rem;
}
html body main section#locations {
  min-height: 500px;
  padding-bottom: 50px ;
  background-image: url(../images/img-locations-background.jpg);
  background-repeat: none;
  background-size: cover;
}
html body main section#locations div {
  color: seashell;
  padding: 2rem;
}
html body main section#locations div.addresses {
  display: flex;
  flex-flow: row wrap;
  opacity: 1;
  justify-content: center;
  gap: 2rem;
}
html body main section#locations div.addresses div.place {
  width: 300px;
  background-color: black;
  padding: 2rem;
  margin-bottom: auto;
}
html body footer {
  display: block;
}
html body footer div#contact {
  height: 20rem;
}
html body footer div#copyright {
  font-size: 1.6rem;
  margin-left: 2rem;
  text-align: left;
}
